body.login {
  background-color: white;
  background-image: url("../images/login-page-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom; }

#login#login {
  font-family: "Lora", Georgia, Times, "Times New Roman", serif;
  padding-top: 120px; }
  #login#login h1 a {
    background-image: url("../images/intermaritime-logo.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 300px;
    width: 100%;
    height: 45px; }
  #login#login form {
    margin: 0;
    position: relative;
    background: #dfe2e3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-top: 30px solid #243c82;
    border-bottom: 30px solid #243c82;
    padding: 26px 24px 30px; }

input#wp-submit.button.button-primary.button-large {
  background: #243c82; }

p#nav#nav a {
  padding: 4px 8px;
  background: white;
  border-radius: 4px;
  color: #243c82; }

p#backtoblog#backtoblog {
  position: absolute;
  top: 20px;
  left: 10px;
  transition: all 0.25s ease-out; }
  p#backtoblog#backtoblog a {
    color: #243c82;
    font-style: italic; }
  p#backtoblog#backtoblog:hover {
    transform: translateX(-2px); }
    p#backtoblog#backtoblog:hover a {
      color: #3558be; }
