/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/**
 * Remove default margin.
 */
body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
	background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
	border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	/* 1 */
	font: inherit;
	/* 2 */
	margin: 0;
	/* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	/* 2 */
	cursor: pointer;
	/* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	/* 2 */
	box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
	border: 0;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.page-title-content, .main-content, .logo-navigation, .navigation-search, .latest-news .news, .home-icons, .about-home .about-text-stats, .about-stats .about-text-stats, .work-with-us, .footer {
	width: 1200px;
	margin: 0 auto;
	padding: 32px 20px;
}

@media only screen and (max-width: 1200px) {
	.page-title-content, .main-content, .logo-navigation, .navigation-search, .latest-news .news, .home-icons, .about-home .about-text-stats, .about-stats .about-text-stats, .work-with-us, .footer {
		width: 1120px;
	}
}

@media only screen and (max-width: 1080px) {
	.page-title-content, .main-content, .logo-navigation, .navigation-search, .latest-news .news, .home-icons, .about-home .about-text-stats, .about-stats .about-text-stats, .work-with-us, .footer {
		width: 100%;
		padding: 16px 20px;
	}
}

form.vessel-calculator .calculate > button, form.vessel-calculator input[type=submit], ul li, ol li, ul.main-nav li, ul.main-nav li ul, ul.main-nav li ul li a, ul.main-nav li ul li.meni-item-has-children.activate > ul.sub-menu, ul.main-nav li.menu-item-has-children:hover > ul.sub-menu, ul.main-nav > li > a::after, .banner-slogan a.play-video img, .home-icons .int-services, .work-with-us a.contact-us, .footerbox ul li a, ul.service-navigation li a::after, ul.login-area-menu a::after {
	transition: all 0.25s ease-in-out;
}

ul.top-bar-nav, ul.login-area-menu {
	list-style: none;
}

.page-title-content, .main-content, ul.top-bar-nav, .logo-navigation, .navigation-search, ul.main-nav, .about-home .stats .vesels p, .about-stats .stats .vesels p, .about-home .stats .countries p, .about-stats .stats .countries p, .main-content.about-page, .footer, ul.social, .services-navigation .main-content, ul.service-navigation, body.page-template-login-page, .submit-button-rememberme, ul.login-area-menu {
	display: flex;
	flex-flow: row wrap;
}

form.vessel-calculator .calculate > button, form.vessel-calculator input[type=submit] {
	width: 192.66667px;
	background: #243c82;
	color: #fafafa;
	border: 1px solid #d4d4d4;
}

form.vessel-calculator .calculate > button:hover, form.vessel-calculator input:hover[type=submit] {
	background: #1e336e;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Lora", Georgia, Times, "Times New Roman", serif;
	color: #5d5d5d;
	background: #fafafa;
	font-size: 17.6px;
	font-size: 1.1rem;
	line-height: 1.8;
	height: 100%;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #5d5d5d;
	margin-bottom: 32px;
	line-height: 1.2;
	font-variant: small-caps;
}

h1 {
	font-family: "Lora", Georgia, Times, "Times New Roman", serif;
	font-size: 32px;
	font-size: 2rem;
}

h2 {
	font-family: "Lora", Georgia, Times, "Times New Roman", serif;
	font-size: 25.6px;
	font-size: 1.6rem;
	margin: 0 0 16px;
}

h3 {
	font-family: "Lora", Georgia, Times, "Times New Roman", serif;
	font-size: 22.4px;
	font-size: 1.4rem;
}

h4, h5, h6 {
	font-family: "Lora", Georgia, Times, "Times New Roman", serif;
	font-size: 19.2px;
	font-size: 1.2rem;
	margin: 0 0 16px;
}

@media only screen and (max-width: 1200px) {
	h1, h2, h3, h4, h5, h6 {
		font-size: 1.8em;
		margin: 1.2em 0 1em;
	}
}

p {
	font-weight: lighter;
}

p.short {
	line-height: 1.1;
}

a {
	color: #72AD79;
	text-decoration: none;
	transition: color 0.2s;
}

a:hover {
	color: #3b6540;
}

ul, ol {
	padding: 0;
	margin: 0;
	list-style-position: inside;
}

ul li a, ol li a {
	color: #243c82;
}

.show-in-mobile {
	display: none;
}

@media only screen and (max-width: 768px) {
	.show-in-mobile {
		display: inline;
	}
	.hide-in-mobile {
		display: none;
	}
}

span.special {
	font-family: "Lora", Georgia, Times, "Times New Roman", serif;
	font-weight: bold;
}

.hide {
	display: none;
}

input[type="submit"] {
	appearance: none;
}

.page-title-content {
	justify-content: space-between;
}

.main-content {
	justify-content: space-between;
	position: relative;
}

@media only screen and (max-width: 622px) {
	.main-content img {
		width: 100%;
		height: 100%;
	}
}

.main-content .inner-container {
	line-height: 1.8;
	color: #5d5d5d;
	max-width: 700px;
}

.main-content .inner-container h1 {
	margin: 32px 0;
}

.main-content .inner-container ul, .main-content .inner-container ol {
	list-style-position: outside;
	margin-left: 30px;
}

.main-content .inner-container ul li, .main-content .inner-container ol li {
	margin-bottom: 32px;
}

.main-content .inner-container p {
	margin-bottom: 32px;
}

hr {
	border: 0;
	height: 1px;
	background-color: #dfe2e3;
	margin: 16px 0;
}

.alignright {
	margin-left: 16px;
	float: right;
}

.alignleft {
	margin-right: 16px;
	float: left;
}

.wp-caption {
	padding: 7px 4px;
	background: #dfe2e3;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0 2px 4px #838383;
}

.wp-caption p.wp-caption-text {
	font-size: 14.4px;
	font-size: 0.9rem;
	text-align: center;
	margin: 4px 0;
}

p.short {
	margin: 4px 0;
}

.animated {
	animation-duration: 0.75s;
	animation-fill-mode: both;
}

@keyframes shake {
	from, to {
		transform: translate3d(0, 0, 0);
	}
	10%, 30%, 50%, 70%, 90% {
		transform: translate3d(-7px, 0, 0);
	}
	20%, 40%, 60%, 80% {
		transform: translate3d(7px, 0, 0);
	}
}

.shake {
	animation-name: shake;
}

.page-template-contact_us-page .work-with-us {
	padding-bottom: 0;
}

@media only screen and (max-width: 622px) {
	.contact-info {
		width: 100%;
		text-align: center;
	}
}

.contact-info p {
	color: #243c82;
	margin: 0;
	font-size: 14.4px;
	font-size: 0.9rem;
	background-image: url("../images/panama-flag.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 26px 18px;
	padding-left: 32px;
}

.contact-info p a {
	text-transform: lowercase;
	color: #243c82;
}

.login-button {
	font-size: 14.4px;
	font-size: 0.9rem;
	color: #243c82;
}

ul.top-bar-nav {
	margin: 1em 0;
}

ul.top-bar-nav li {
	border-right: 1px solid #243c82;
	padding: 0 24px;
}

ul.top-bar-nav li:last-child {
	border-right: none;
}

ul.top-bar-nav a {
	line-height: 1;
	color: #243c82;
}

ul.top-bar-nav a:active {
	background: #1e336e;
	color: white;
}

.top-bar {
	background: #d1d6d7;
}

.navigation-search {
	padding: 0 20px;
}

.logo-navigation, .navigation-search {
	justify-content: space-between;
	align-items: center;
	padding: 8px 20px 4px;
	font-variant: small-caps;
	position: relative;
}

.logo {
	width: 212px;
	margin: 12px 0;
}

@media only screen and (max-width: 1080px) {
	.logo {
		width: 45%;
		margin: 16px auto;
	}
}

@media only screen and (max-width: 622px) {
	.logo {
		width: 80%;
		margin: 22px 0;
	}
}

.logo a {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
}

.logo a img {
	width: 100%;
}

span.intermaritime-letters {
	font-variant: small-caps;
	font-size: 19.2px;
	font-size: 1.2rem;
}

form.intermaritime-searchform {
	position: relative;
}

@media only screen and (max-width: 622px) {
	form.intermaritime-searchform {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
}

form.intermaritime-searchform input {
	margin: 0;
	border: none;
	padding: 4px 12px;
	font-size: 14.4px;
	font-size: 0.9rem;
}

form.intermaritime-searchform input[type="text"] {
	width: 250px;
	border-radius: 4px;
}

@media only screen and (max-width: 622px) {
	form.intermaritime-searchform input[type="text"] {
		width: 100%;
	}
}

form.intermaritime-searchform input[type="submit"] {
	letter-spacing: 1px;
	width: 45px;
	background: white;
	position: absolute;
	right: 0;
	top: 0;
	background-color: transparent;
	background-image: url("../images/search-icon-intermaritime.png");
	background-repeat: no-repeat;
	background-position: center 10px;
	background-size: 14px 14px;
}

.hamburger-menu-button {
	display: none;
	width: 20px;
	height: 20px;
	background: transparent url("../images/hamburger-menu-button.svg") center center no-repeat;
	z-index: 30;
}

@media only screen and (max-width: 622px) {
	.hamburger-menu-button {
		display: block;
	}
}

ul.main-nav {
	font-family: "Lora", Georgia, Times, "Times New Roman", serif;
	line-height: 1;
	justify-content: flex-end;
	font-size: 15.2px;
	font-size: 0.95rem;
}

@media only screen and (max-width: 1080px) {
	ul.main-nav {
		width: 100%;
		justify-content: space-between;
		margin: 16px 0 0;
	}
}

@media only screen and (max-width: 622px) {
	ul.main-nav {
		flex-flow: column wrap;
		text-align: center;
		background: white;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		z-index: 20;
	}
}

ul.main-nav li {
	list-style: none;
	position: relative;
}

ul.main-nav li ul {
	position: absolute;
	top: 120%;
	left: 0;
	z-index: 12;
	background: whitesmoke;
	white-space: nowrap;
	border-top: 2px solid #243c82;
	border-bottom: 2px solid #243c82;
	visibility: hidden;
	opacity: 0;
}

@media only screen and (max-width: 768px) {
	ul.main-nav li ul {
		display: none;
	}
}

ul.main-nav li ul li {
	border: none;
	display: block;
	position: relative;
	line-height: 1.1;
}

ul.main-nav li ul li a {
	background: #f2f2f2;
}

ul.main-nav li ul li a:hover {
	background: #e8e8e8;
}

ul.main-nav li ul li ul {
	position: absolute;
	width: 100%;
	left: 100%;
	top: -2px;
	visibility: hidden;
	opacity: 0;
}

ul.main-nav li ul li.meni-item-has-children.activate > ul.sub-menu {
	opacity: 1;
	visibility: visible;
}

ul.main-nav li > ul li ul li a {
	padding: 18px 48px;
}

ul.main-nav li.menu-item-has-children:hover > ul.sub-menu {
	opacity: 1;
	visibility: visible;
}

ul.main-nav a {
	color: #243c82;
	display: block;
	padding: 22px 18px;
	position: relative;
}

ul.main-nav > li > a::after {
	content: '';
	position: absolute;
	bottom: -13px;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #243c82;
}

@media only screen and (max-width: 768px) {
	ul.main-nav > li > a::after {
		background-color: white;
	}
}

ul.main-nav > li > a:hover::after {
	height: 8px;
}

ul.main-nav li.current_page_item a::after, ul.main-nav li.current_page_parent a::after {
	height: 8px;
}

.home-banner {
	height: 680px;
	height: 68vh;
	width: 100%;
	background-image: url("../images/intermaritime-main-banner-bg.jpg");
	background-position: center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 768px) {
	.home-banner {
		height: 30vh;
		background-image: none;
		background-position: center bottom;
		background-size: cover;
	}
}

@media only screen and (max-width: 622px) {
	.home-banner {
		height: 50vh;
	}
}

.banner-slogan {
	text-align: center;
	position: relative;
	color: #fafafa;
}

.banner-slogan h1 {
	font-weight: normal;
	color: #243c82;
	font-size: 64px;
	font-size: 4rem;
	margin: 10px 0 0;
}

@media only screen and (max-width: 768px) {
	.banner-slogan h1 {
		font-size: 40px;
		font-size: 2.5rem;
	}
}

@media only screen and (max-width: 622px) {
	.banner-slogan h1 {
		font-size: 32px;
		font-size: 2rem;
	}
}

.banner-slogan h2 {
	font-weight: normal;
	color: #243c82;
	font-size: 40px;
	font-size: 2.5rem;
	letter-spacing: 1px;
	margin: 0 auto;
}

@media only screen and (max-width: 768px) {
	.banner-slogan h2 {
		font-size: 28px;
		font-size: 1.75rem;
	}
}

@media only screen and (max-width: 622px) {
	.banner-slogan h2 {
		font-size: 24px;
		font-size: 1.5rem;
		max-width: 70%;
	}
}

.banner-slogan h3 {
	color: #fafafa;
	font-size: 32px;
	font-size: 2rem;
}

.banner-slogan p {
	font-size: 22.4px;
	font-size: 1.4rem;
	letter-spacing: 2px;
}

.banner-slogan a.play-video {
	display: block;
	width: 88px;
	height: 88px;
	margin: 42px auto 0;
}

@media only screen and (max-width: 768px) {
	.banner-slogan a.play-video {
		display: none;
	}
}

.banner-slogan a.play-video:hover img {
	transform: scale(0.9);
}

.latest-news {
	background-color: #1e336e;
	background-size: cover;
	color: white;
	height: 80px;
	overflow: hidden;
}

@media only screen and (max-width: 768px) {
	.latest-news {
		overflow: visible;
		height: 100%;
		padding: 0 30px;
		background: #1e336e;
		text-align: center;
	}
}

.latest-news .news {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 0 20px;
	line-height: 1;
}

@media only screen and (max-width: 768px) {
	.latest-news .news {
		padding: 0;
	}
}

.news-title {
	font-size: 24px;
	font-size: 1.5rem;
	font-variant: small-caps;
	letter-spacing: 4px;
	font-weight: 300;
	padding: 27px 0;
	margin: 0;
	margin: 0 auto;
}

@media only screen and (max-width: 768px) {
	.news-title {
		margin: 32px auto;
	}
}

.news-title p {
	margin: 0;
}

@media only screen and (max-width: 768px) {
	.news-title {
		text-align: center;
		padding: 0;
	}
}

ul.news-text {
	padding: 27px 0 27px 100px;
	background: #243c82 url("../images/latest-news-text-background.gif") left top no-repeat;
	font-variant: initial;
	font-size: 20px;
	letter-spacing: 2px;
	list-style: none;
	margin: 0;
	height: 80px;
	overflow: hidden;
}

@media only screen and (max-width: 768px) {
	ul.news-text {
		padding: 0;
		margin: 12px 0;
		float: none;
		background: transparent;
		line-height: 1.5;
		height: 100%;
	}
}

ul.news-text li {
	position: relative;
	padding: 3px 0 36px;
	transition: transform 0.5s;
}

@media only screen and (max-width: 768px) {
	ul.news-text li:nth-child(n + 1) {
		display: none;
	}
	ul.news-text li:first-child {
		display: block;
	}
}

ul.news-text li.slide-up {
	transform: translatey(-60px);
}

ul.news-text li.slide-up-up {
	transform: translatey(-120px);
}

ul.news-text li span.news-text-title {
	display: inline-block;
	width: 600px;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 200px;
}

@media only screen and (max-width: 768px) {
	ul.news-text li span.news-text-title {
		width: 100%;
		white-space: normal;
		overflow: visible;
		display: inline;
	}
}

ul.news-text li a {
	color: white;
	font-style: italic;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 3px;
	z-index: 10;
}

ul.news-text li a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 768px) {
	ul.news-text li a {
		position: relative;
	}
}

.home-icons {
	padding: 48px 0;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

@media only screen and (max-width: 800px) {
	.home-icons {
		margin-top: 0;
		padding: 48px 32px;
	}
}

.home-icons .int-services {
	flex-grow: 1;
	min-width: 90px;
}

.home-icons .int-services:hover {
	transform: translatey(-8px);
}

@media only screen and (max-width: 768px) {
	.home-icons .int-services {
		margin-bottom: 32px;
	}
}

.home-icons .int-services a {
	color: #243c82;
}

.home-icons .int-services p {
	font-size: 19.2px;
	font-size: 1.2rem;
	font-family: "Lora", Georgia, Times, "Times New Roman", serif;
	text-align: center;
	margin: 32px 0 0;
}

.home-icons .int-services img {
	width: 90px;
	display: block;
	margin: 0 auto;
}

.about-home, .about-stats {
	padding: 60px 0;
	background-size: cover;
	background-image: url("../images/intermaritime-desc-background.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #72AD79;
}

@media only screen and (max-width: 768px) {
	.about-home, .about-stats {
		padding: 0;
	}
}

@media only screen and (max-width: 622px) {
	.about-home, .about-stats {
		background-image: none;
	}
}

.about-home .about-text-stats, .about-stats .about-text-stats {
	color: white;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-home .about-text, .about-stats .about-text {
	width: 560px;
	line-height: 2;
}

@media only screen and (max-width: 800px) {
	.about-home .about-text, .about-stats .about-text {
		margin-right: 20px;
	}
}

@media only screen and (max-width: 500px) {
	.about-home .about-text, .about-stats .about-text {
		margin-right: 0;
		margin-bottom: 48px;
	}
}

.about-home .about-text a, .about-stats .about-text a {
	color: #3558be;
	font-style: italic;
	text-decoration: underline;
}

.about-home .stats, .about-stats .stats {
	width: 366.66667px;
	font-family: "Lora", Georgia, Times, "Times New Roman", serif;
}

@media only screen and (max-width: 768px) {
	.about-home .stats, .about-stats .stats {
		width: 100%;
		margin: 16px 0;
	}
}

.about-home .stats .vesels, .about-stats .stats .vesels {
	margin-bottom: 32px;
}

.about-home .stats .vesels, .about-stats .stats .vesels, .about-home .stats .countries, .about-stats .stats .countries {
	padding: 16px 30px;
	border-bottom: 1px solid white;
}

.about-home .stats .vesels p, .about-stats .stats .vesels p, .about-home .stats .countries p, .about-stats .stats .countries p {
	justify-content: space-between;
	margin: 0;
}

@media only screen and (max-width: 768px) {
	.about-home .stats .vesels, .about-stats .stats .vesels, .about-home .stats .countries, .about-stats .stats .countries {
		padding: 18px 0;
	}
}

@media only screen and (max-width: 768px) {
	.about-home .stats .countries, .about-stats .stats .countries {
		margin-bottom: 32px;
	}
}

.about-home .number, .about-stats .number {
	font-family: "Josefin Sans", "Geneva", Verdana, sans-serif;
	font-size: 41.6px;
	font-size: 2.6rem;
}

.about-home .text, .about-stats .text {
	width: 68px;
	font-size: 12px;
	text-align: center;
	line-height: 1;
}

@media only screen and (max-width: 768px) {
	.about-home .text, .about-stats .text {
		font-size: 14px;
		width: 175px;
		padding: 8px 20px 0;
		text-align: right;
	}
}

.about-stats {
	background-image: url("../images/santiago-torrijos-about-intermaritime-background.jpg");
	background-color: #72AD79;
}

@media only screen and (max-width: 622px) {
	.about-stats {
		background-image: none;
	}
}

.corporate-video {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(36, 60, 130, 0.8);
	z-index: 100;
	display: none;
}

.the-video {
	width: 960px;
	margin: 0 auto;
	background: black;
	box-shadow: 0 0 28px black;
	margin-top: 32px;
	display: none;
}

@media only screen and (max-width: 1080px) {
	.the-video {
		width: 90%;
	}
}

video {
	width: 100%;
}

.video {
	width: 88px;
	margin: 0 auto;
	padding: 296px 0;
}

@media only screen and (max-width: 1080px) {
	.video {
		width: 100%;
	}
}

.video a:hover img {
	filter: drop-shadow(0 0 8px white);
}

.video-background {
	background-size: cover;
	background-image: url("../images/intermaritime-video-background.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	padding: 150px 0;
}

@media only screen and (max-width: 800px) {
	.video-background {
		display: none;
	}
}

.video-background .video {
	padding: 0;
}

.modal-form {
	width: 760px;
	margin: 0 auto;
	background: white;
	box-shadow: 0 0 12px black;
	margin-top: 32px;
	padding: 16px 40px 40px;
	display: none;
}

@media only screen and (max-width: 960px) {
	.modal-form {
		width: 800px;
	}
}

.work-with-us {
	text-align: center;
	padding: 74px 20px;
}

.work-with-us h2 {
	font-variant: small-caps;
	font-size: 28.8px;
	font-size: 1.8rem;
	margin-bottom: 48px;
}

.work-with-us p {
	margin-bottom: 48px;
}

.work-with-us a.contact-us {
	display: inline-block;
	padding: 12px 60px;
	color: #f1674a;
	font-family: "Lora", Georgia, Times, "Times New Roman", serif;
	text-transform: uppercase;
	border: 2px solid #f1674a;
	margin: 0 auto;
}

.work-with-us a.contact-us:hover {
	background: #f1674a;
	color: white;
}

.page-title, .about-page-title {
	background-color: #2a4596;
	background-size: cover;
	background-repeat: no-repeat;
	height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.page-title h1, .about-page-title h1 {
	display: block;
	width: 100%;
	letter-spacing: 2px;
	text-align: center;
	font-size: 2rem;
	color: #fafafa;
	text-shadow: 0 0 18px black;
	margin: 0;
}

.sidebar.sidebar h3 {
	margin: 0;
	padding: 30px 0;
}

ul#menu-sidebar-menu {
	list-style: none;
	margin: 20px 0 50px;
	width: 300px;
}

ul#menu-sidebar-menu li a {
	display: block;
	padding: 8px 0;
	font-size: 0.9rem;
	color: #5d5d5d;
	border-bottom: 1px solid #3558be;
	transition: all 0.25s ease-in-out;
}

ul#menu-sidebar-menu li a:hover {
	padding-left: 12px;
	color: #243c82;
}

.sticky.sticky {
	position: fixed;
	top: 0;
}

.stuck.stuck {
	position: absolute;
	bottom: 0;
}

.main-content.about-page {
	justify-content: space-between;
}

.about-main-content {
	width: 900px;
}

.about-page-title {
	background: url("../images/intermaritime-we-ve-got-you-covered.jpg") center center no-repeat;
	padding: 110px 20px;
}

.about-page-title h1 {
	font-size: 44.8px;
	font-size: 2.8rem;
	text-align: center;
}

.about-sidebar {
	width: 200px;
	height: 800px;
	background: url("../images/intermaritime-logos-about-us-page.png") center center no-repeat;
}

footer {
	background: #243c82;
	color: white;
	font-size: 14.4px;
	font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
	footer {
		text-align: center;
	}
}

.footer {
	justify-content: space-between;
}

.footer h3 {
	color: white;
	margin-top: 0;
}

.footer ul {
	list-style: none;
}

.logobox {
	max-width: 270px;
}

@media only screen and (max-width: 980px) {
	.logobox {
		width: 50%;
	}
}

@media only screen and (max-width: 768px) {
	.logobox {
		max-width: initial;
		width: 100%;
	}
}

.footerbox {
	width: 221.66667px;
}

@media only screen and (max-width: 980px) {
	.footerbox {
		width: 50%;
	}
}

@media only screen and (max-width: 622px) {
	.footerbox {
		width: 100%;
	}
}

.footerbox ul li a {
	display: block;
	padding: 4px 20px 4px 0;
	color: white;
}

.footerbox ul li a:hover {
	padding-left: 12px;
	background: #1d316a;
}

.copyright {
	background: #192a5a;
	font-size: 12px;
	font-size: 0.75rem;
	color: white;
	padding: 8px 0;
}

.copyright p {
	text-align: center;
	margin: 0;
	letter-spacing: 1px;
}

.intermaritime-name {
	font-variant: small-caps;
	font-size: 16px;
	font-size: 1rem;
}

ul.social {
	list-style: none;
	margin-top: 32px;
	gap: 20px;
}

@media only screen and (max-width: 768px) {
	ul.social {
		justify-content: center;
		width: 100%;
		margin: 32px auto 0;
	}
}

ul.social li a {
	display: block;
	width: 36px;
	height: 36px;
}

ul.social li.instagram {
	background: url("../images/intermaritime-social-spritesheet.png") 0 0 no-repeat;
}

ul.social li.linkedin {
	background: url("../images/intermaritime-social-spritesheet.png") -73px 0 no-repeat;
}

ul.social li.twitter {
	background: url("../images/intermaritime-social-spritesheet.png") -148px 0 no-repeat;
}

ul.social li.youtube {
	background: url("../images/intermaritime-social-spritesheet.png") -188px 0 no-repeat;
}

.services-navigation {
	background: #2a4596;
}

.services-navigation .main-content {
	justify-content: space-between;
}

.services-navigation h1 {
	color: #fafafa;
	margin: 6px 0;
	font-size: 28.8px;
	font-size: 1.8rem;
}

ul.service-navigation {
	justify-content: flex-end;
	list-style: none;
	font-size: 14.4px;
	font-size: 0.9rem;
	flex-grow: 1;
}

ul.service-navigation li {
	margin: 0;
}

ul.service-navigation li a {
	display: block;
	padding: 12px 2em;
	color: #fafafa;
	position: relative;
}

ul.service-navigation li a::after {
	content: '';
	position: absolute;
	top: 100%;
	width: 70%;
	left: 15%;
	height: 0;
	background-color: #fafafa;
}

ul.service-navigation li a:hover::after {
	height: 2px;
}

.wpcf7 {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

form {
	margin-bottom: 18px;
	width: 100%;
}

form h3 {
	font-size: 24px;
	font-size: 1.5rem;
	text-align: left;
}

form p {
	margin: 0;
}

form span.required {
	font-size: 12px;
	color: #f1674a;
	margin-left: 8px;
}

form input, form textarea {
	padding: 8px 12px;
	border: 1px solid #39466d;
	margin-bottom: 16px;
	width: 100%;
}

form input.other_services, form textarea.other_services {
	max-width: 360px;
	margin-left: 10px;
}

form label.container {
	display: flex;
	flex-flow: row wrap;
	text-align: left;
}

form label {
	font-size: 0.9rem;
	margin-top: 1rem;
	display: block;
	text-align: left;
}

form input[type="checkbox"] {
	width: 25px;
}

form textarea {
	height: 140px;
}

form select {
	appearance: none;
	width: 100%;
	padding: 8px 12px;
	border: 1px solid #494e5d;
	cursor: pointer;
}

form button[type="submit"] {
	display: inline-block;
	margin-top: 16px;
	color: white;
	background-color: #2a4596;
	padding: 12px 60px;
}

form button[type="submit"]:hover {
	background: #1e336e;
}

form .submit {
	position: relative;
}

form .submit img.ajax-loader {
	position: absolute;
	left: 28px;
	top: 28px;
}

form .submit {
	position: relative;
}

form input[type="submit"] {
	background-color: #243c82;
	border: 1px solid #fafafa;
	color: #fafafa;
}

form span.ajax-loader {
	position: absolute;
	right: 10px;
	top: 13px;
}

form .wpcf7-response-output.wpcf7-response-output.wpcf7-response-output {
	margin: 0;
}

form.vessel-calculator.vessel-calculator {
	width: 100%;
	max-width: 460px;
}

form.vessel-calculator.vessel-calculator label {
	margin: 12px 24px 12px 0;
	font-size: 0.95rem;
}

form.vessel-calculator.vessel-calculator .radios.radios.radios label {
	display: block;
	margin: 0;
	padding: 12px;
	border-bottom: 1px solid #96d8d7;
	cursor: pointer;
	transition: all 0.25s ease-in;
	line-height: 1;
	display: flex;
	justify-content: flex-start;
	flex-flow: row nowrap;
}

form.vessel-calculator.vessel-calculator .radios.radios.radios label p {
	margin: 0;
	display: block;
	width: 85%;
}

form.vessel-calculator.vessel-calculator .radios.radios.radios label:hover {
	background: #dfe2e3;
}

form.vessel-calculator.vessel-calculator .radios.radios.radios label input[type="radio"] {
	margin-right: 12px;
	display: block;
	width: 15%;
	max-width: 40px;
}

form.vessel-calculator.vessel-calculator .yachts, form.vessel-calculator.vessel-calculator .tonnage {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
}

form.vessel-calculator input, form.vessel-calculator textarea {
	display: block;
	width: 100%;
	border: 1px solid #192a5a;
	margin-bottom: 8px;
	padding: 8px 12px;
	color: #243c82;
}

form.vessel-calculator input[type=radio] {
	display: inline-block;
	width: auto;
	margin: auto;
}

form.vessel-calculator input[type=submit] {
	background: #243c82;
	color: white;
	width: auto;
	padding: 8px 40px;
	border-radius: 8px;
}

form.vessel-calculator input[type=checkbox] {
	width: 20px;
	display: inline;
}

form.vessel-calculator .wpcf7-list-item label {
	display: block;
}

form.vessel-calculator .name-email {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

form.vessel-calculator .name-email .name, form.vessel-calculator .name-email .email {
	width: 47%;
}

@media only screen and (max-width: 768px) {
	form.vessel-calculator .name-email .name, form.vessel-calculator .name-email .email {
		width: 100%;
	}
}

form.vessel-calculator .name-email label {
	display: block;
	margin-bottom: 32px;
}

form.vessel-calculator .service-select {
	margin-bottom: 32px;
}

form.vessel-calculator .service-select .wpcf7-list-item label {
	display: inline-block;
	margin-right: 20px;
}

.application.application.application {
	padding: 0;
	max-height: 0;
	overflow: hidden;
	width: 90%;
	max-width: 600px;
	background-color: #dfe2e3;
	transition: max-height 0.3s ease-in-out;
	margin-top: 30px;
	border-radius: 8px;
}

.application.application.application .inner-application {
	margin: 40px 45px;
}

.application.application.application .inner-application h4 {
	text-align: center;
}

.note.note {
	font-size: 0.9rem;
}

.note.note p {
	margin: 22px 0;
}

form.vessel-fee-calculator {
	text-align: left;
	font-size: 0.9rem;
	font-style: italic;
}

form.vessel-fee-calculator input[type="submit"] {
	margin-top: 32px;
}

form.vessel-fee-calculator textarea {
	height: 160px;
}

.show-div.show-div.show-div.show-div {
	max-height: 9000px;
}

.yacht-registration-rate.yacht-registration-rate {
	display: none;
}

table.vessel-registration-government-fees thead, table.vessel-registration-government-fees tfoot {
	color: #dfe2e3;
	background: #7e7e7e;
}

table.vessel-registration-government-fees thead th, table.vessel-registration-government-fees thead td, table.vessel-registration-government-fees tfoot th, table.vessel-registration-government-fees tfoot td {
	border: 1px solid #5d5d5d;
	padding: 12px 8px;
	height: 45px;
}

table.vessel-registration-government-fees thead td, table.vessel-registration-government-fees tfoot td {
	text-align: right;
}

table.vessel-registration-government-fees thead {
	font-variant: small-caps;
}

table.vessel-registration-government-fees thead th {
	font-weight: normal;
	text-align: center;
	font-size: 0.9rem;
	line-height: 1;
}

table.vessel-registration-government-fees td {
	font-size: 0.85rem;
	height: 60px;
}

table.vessel-registration-government-fees td:nth-child(2) {
	width: 80%;
}

table.vessel-registration-government-fees tbody {
	border-bottom: 2px solid #5d5d5d;
}

table.vessel-registration-government-fees tbody tr:nth-child(even) {
	background: #d1d6d7;
}

table.vessel-registration-government-fees tbody tr:hover {
	background: #ccd1d2;
}

table.vessel-registration-government-fees tbody tr td:first-child {
	text-align: center;
}

table.vessel-registration-government-fees tbody tr td:last-child {
	text-align: right;
}

table.vessel-registration-government-fees tbody tr td {
	padding: 4px 8px;
	border: 1px solid #838383;
}

p.in-form.in-form.in-form {
	margin: 8px;
	font-weight: bold;
	font-style: italic;
}

p.in-form.in-form.in-form small {
	font-weight: normal;
}

.submit-calculator.submit-calculator {
	position: relative;
}

.submit-calculator.submit-calculator span.ajax-loader {
	position: absolute;
	top: 10px;
	left: 10px;
}

.wpcf7 .ajax-loader {
	background: url(../images/intermaritime-loading.gif) center center no-repeat !important;
}

table th,
table td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #dfe2e3;
}

table th:first-child,
table td:first-child {
	padding-left: 0;
}

table th:last-child,
table td:last-child {
	padding-right: 0;
}

body.page-template-login-page {
	background-color: #243c82;
	background-image: url("../images/login-page-background.jpg");
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

.intermaritime-login-logo {
	width: 260px;
	margin: 16px auto;
}

@media only screen and (max-width: 347px) {
	.intermaritime-login-logo {
		width: 100%;
	}
}

.intermaritime-login-logo img {
	width: 100%;
}

.intermaritime-login-logo a {
	display: block;
	text-align: center;
	padding: 16px 0;
	font-size: 0.8rem;
}

.login-form-content {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	padding: 48px;
	background: rgba(250, 250, 250, 0.85);
	min-height: 100vh;
	width: 33%;
	font-size: 0.9rem;
}

@media only screen and (max-width: 1200px) {
	.login-form-content {
		width: 50%;
	}
}

@media only screen and (max-width: 768px) {
	.login-form-content {
		width: 100%;
	}
}

.login-form-content .login-content a {
	display: block;
}

.login-form-content .login-content h1 {
	font-size: 1.4rem;
	text-align: center;
	margin: 32px 0;
	line-height: 1;
}

.login-form-content .login-content p {
	font-size: 0.8rem;
}

div.login_form {
	position: relative;
}

.login-loading-animation {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(223, 226, 227, 0.75);
	background-image: url("../images/background-spinner.gif");
	background-position: center center;
	background-repeat: no-repeat;
	display: none;
}

form.login-form label {
	margin: 12px 0;
}

.submit-button-rememberme {
	justify-content: space-between;
	margin: 16px 0;
}

.status-message {
	padding: 12px;
	margin-bottom: 12px;
}

h2.login-page-title {
	color: white;
	margin: 0;
}

ul.login-area-menu {
	align-items: center;
}

ul.login-area-menu a {
	display: block;
	line-height: 2;
	padding: 0 20px;
	color: #fafafa;
	position: relative;
	font-size: 14.4px;
	font-size: 0.9rem;
	letter-spacing: 1px;
}

ul.login-area-menu a::after {
	content: '';
	position: absolute;
	bottom: -16px;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #fafafa;
}

ul.login-area-menu a:hover::after {
	height: 6px;
}

ul.login-area-menu li.current-menu-item a::after {
	height: 6px;
}

ul.login-area-menu li.menu-item-logout a {
	font-weight: normal;
	color: #f37b62;
}

ul.login-area-menu li.menu-item-logout a::after {
	content: '';
	background-color: #f1674a;
}

.wpfep-fields {
	width: 600px;
}

.wpfep-fields label, .wpfep-fields input {
	font-size: 1rem;
}

.wpfep-fields .description, .wpfep-fields .user_url {
	display: none;
}

.wpfep-save.wpfep-save.wpfep-save input[type="submit"] {
	font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */