.about-home {
	padding: 60px 0;

	@include small-screen {
		padding: 0;
	}
	
	background: {
		size: cover;
		image: url('../images/intermaritime-desc-background.jpg');
		repeat: no-repeat;
		position: center center;
		color: $secondary-color;
	}

	@include very-small-screen {
		background-image: none;
	}


	.about-text-stats {
		@extend %big-row;
		color: white;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.about-text {
		width: columnWidth(6);
		line-height: 2;

		@media only screen and (max-width: 800px) {
			margin-right: 20px;
		}

		@media only screen and (max-width: 500px) {
			margin-right: 0;
			margin-bottom: 48px;
		}

		a {
			color : lighten($primary-color, 15%);
			font-style: italic;
			text-decoration: underline;
		}
	}

	.stats {
		width: columnWidth(4);
		font-family: $header-font-family;

		@include small-screen {
			width: 100%;
			margin: 16px 0;
		}

		.vesels {
			margin-bottom: 32px;
		}

		.vesels, .countries {
			padding: 16px 30px;
			border-bottom: 1px solid white;

			p { 
				@extend %flexbox-box; 
				justify-content: space-between; 
				margin: 0; 
			}

			@include small-screen {
				padding: 18px 0;
			}
		}

		@include small-screen {
			.countries {
				margin-bottom: 32px;
			}
		}
	}

	.number {
		font-family: $alternate-font-family;
		@include font-size(2.6);
	}

	.text {

		width: 68px;
		font-size: 12px;
		text-align: center;
		line-height: 1;

		@include small-screen {
			font-size: 14px;
			width: 175px;
			padding: 8px 20px 0;
			text-align: right;
		}
	}
}

.about-stats {
	@extend .about-home;
	background-image: url('../images/santiago-torrijos-about-intermaritime-background.jpg');
	background-color: $secondary-color;
	@include very-small-screen {
		background-image: none;
	}
}