.main-content.about-page {
	@extend %flexbox-box;
	justify-content: space-between;
}

.about-main-content {
	width: 900px;
}

.about-page-title {
	@extend .page-title;
	background: url('../images/intermaritime-we-ve-got-you-covered.jpg') center center no-repeat;
	padding: 110px $content-padding;

	h1 {
		@include font-size(2.8);
		text-align: center;
	}
}

.about-sidebar {
	width: 200px;
	height: 800px;
	background: url('../images/intermaritime-logos-about-us-page.png') center center no-repeat;	
}