.home-banner {
	height: 680px;
	height: 68vh;
	width: 100%;
	background: {
		image: url('../images/intermaritime-main-banner-bg.jpg');
		position: center center;
		size: cover;
	}

	@include small-screen {
		height: 30vh;
		background: {
			image: none;
			position: center bottom;
			size: cover;
		}
	}

	@include very-small-screen {
		height: 50vh;
	}
	
	display: flex;
	align-items: center;
	justify-content: center;

}

.banner-slogan {
	text-align: center;
	position: relative;
	color: $clear-gray;

	// text-shadow:  0 0 12px black;

	h1 {
		font-weight: normal;
		color: $primary-color;
		@include font-size(4);
		margin: 10px 0 0;

		@include small-screen {
			@include font-size(2.5);
		}

		@include very-small-screen {
			@include font-size(2);
		}
	}

	h2 {
		font-weight: normal;
		color: $primary-color;
		@include font-size(2.5);
		letter-spacing: 1px;
		margin: 0 auto;

		@include small-screen {
			@include font-size(1.75);
		}

		@include very-small-screen {
			@include font-size(1.5);
			max-width: 70%;
		}
	}

	h3 {
		color: $clear-gray;
		@include font-size(2);
	}

	p {
		@include font-size(1.4);
		letter-spacing: 2px;
	}

	a.play-video {
		display: block;

		@include small-screen {
			display: none;
		}

		width: 88px;
		height: 88px;
		margin: 42px auto 0;

		img {
			@extend %smooth-animation;
		}

		&:hover {
			img { 
				transform: scale(0.9);
			}
		}
	}
}