//Break Points
@mixin big-screen {
  @media only screen and (min-width: 1920px) {
    @content;
  }
}

@mixin med-screen {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin med-small-screen {
  @media only screen and (max-width: 1080px) {
    @content;
  }
}

@mixin small-med-screen {
  @media only screen and (max-width: 980px) {
    @content;
  }
}

@mixin small-screen {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin very-small-screen {
  @media only screen and (max-width: 622px) {
    @content;
  }
}

@mixin very-very-small-screen {
  @media only screen and (max-width: 347px) {
    @content;
  }
}