$primary-color: #243c82;
$secondary-color: #72AD79;
$terciary-color: #fec570;
$cuartiary-color: #f1674a;

$class-color: $primary-color;
$legal-color: #41ADAC;
$training-color: $secondary-color;
$survays-color: $terciary-color;
$insurance-color: $cuartiary-color;

$dark-gray: #5d5d5d;
$light-gray: #dfe2e3;
$clear-gray: #fafafa;