.modal-form {	
	width: 760px;

	@media only screen and (max-width: 960px) {
		width: 800px;
	}

	margin: 0 auto;
	background: white;
	box-shadow: 0 0 12px black;
	margin-top: 32px;
	padding: 16px 40px 40px;

	
	display: none;
}