$header-font-family: "Lora", Georgia, Times, "Times New Roman", serif;
$body-font-family: "Lora", Georgia, Times, "Times New Roman", serif;
$alternate-font-family: "Josefin Sans", "Geneva", Verdana, sans-serif;