footer {
	background: $primary-color;
	color: white;
	@include font-size(0.9);

	@include small-screen {
		text-align: center;
	}
}

.footer {
	
	@extend %big-row;
	@extend %flexbox-box;
	justify-content: space-between;
	
	h3 {
		color: white;
		margin-top: 0;
	}

	ul {
		list-style: none;
	}

}

.logobox {
	max-width: columnWidth(3);

	@include small-med-screen {
		width: 50%;
	}

	@include small-screen {
		max-width: initial;
		width: 100%;
	}
}

.footerbox {
	width: columnWidth(2.5);

	@include small-med-screen {
		width: 50%;
	}

	@include very-small-screen {
		width: 100%;
	}

	ul li a {
		display: block;
		padding: 4px 20px 4px 0;
		color: white;
		@extend %smooth-animation;

		&:hover {
			padding-left: 12px;
			background: darken($primary-color, 6%);
		}
	}
}

.copyright {
	background: darken($primary-color, 10%);
	@include font-size(0.75);
	color: white;
	padding: 8px 0;

	p {
		text-align: center;
		margin: 0;
		letter-spacing: 1px;
	}
}

.intermaritime-name {
	font-variant: small-caps;
	@include font-size(1);
}

ul.social {
	list-style: none;
	margin-top: 32px;
	@extend %flexbox-box;
	gap: 20px;
	
	@include small-screen {
		justify-content: center;
		width: 100%;
		margin: 32px auto 0;
	}

	li {

		a {
			display: block;
			width: 36px; 
			height: 36px;
		}

		$social-sprite : '../images/intermaritime-social-spritesheet.png';

		&.instagram {
			background: url($social-sprite) 0 0 no-repeat;
		}

		&.linkedin {
			background: url($social-sprite) -73px 0 no-repeat;
		}

		&.twitter {
			background: url($social-sprite) -148px 0 no-repeat;
		}

		&.youtube {
			background: url($social-sprite) -188px 0 no-repeat;
		}
	}
}