.wpcf7 {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

form {
	margin-bottom: 18px;
	width: 100%;

	h3 {
		@include font-size(1.5);
		text-align: left;
	}
	
	p {
		margin: 0;
	}

	span.required {
		font-size: 12px;
		color: $cuartiary-color;
		margin-left: 8px;
	}

	input, textarea {
		padding: 8px 12px;
		border: 1px solid desaturate($primary-color, 25%);
		margin-bottom: 16px;
		width: 100%;

		&.other_services {
			max-width: 360px;
			margin-left: 10px;
		}
	}

	label.container {
		display: flex;
		flex-flow: row wrap;
		text-align: left;
	}

	label {
		font-size: 0.9rem;
		margin-top: 1rem;
		display: block;
		text-align: left;
	}

	input[type="checkbox"] {
		width: 25px;
	}

	textarea {
		height: 140px;
	}

	select {
		appearance:none;
		width: 100%;
		padding: 8px 12px;
		border: 1px solid desaturate($primary-color, 45%);
		cursor: pointer;
	}

	button[type="submit"] {
		display: inline-block;
		margin-top: 16px;
		color: white;
		background-color: lighten($primary-color, 5%);
		padding: 12px 60px;

		&:hover {
			background: darken($primary-color, 5%);
		}
	}

	.submit {
		position: relative;

		img.ajax-loader {
			position: absolute;
			left: 28px;
			top: 28px;
		}
	}
	.submit {
		position: relative;
	}

	input[type="submit"] {
		background-color: $primary-color;
		border: 1px solid $clear-gray;
		color: $clear-gray;
	}

	span.ajax-loader {
		position: absolute;
		right: 10px;
		top: 13px;
	}

	.wpcf7-response-output.wpcf7-response-output.wpcf7-response-output {
		margin: 0;
	}
}