//General Styles
* {
  box-sizing: border-box;
}

body {
	font-family: $body-font-family;
	color: $dark-gray;
	background: $clear-gray;
	@include font-size(1.1);
	line-height: 1.8;
	height: 100%;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: $dark-gray;
	margin-bottom: (16px * 2);
	line-height: 1.2;
	font-variant: small-caps;
}

h1 {
	font-family: $header-font-family;
	@include font-size(2);
}

h2 {
	font-family: $header-font-family;
	@include font-size(1.6);
	margin: 0 0 16px;
}

h3 {
	font-family: $header-font-family;
	@include font-size(1.4);
}

h4, h5, h6 {
	font-family: $body-font-family;
	@include font-size(1.2);
	margin: 0 0 16px;
}

@include med-screen {
	h1, h2, h3, h4, h5, h6 {
		font-size: 1.8em;
		margin: 1.2em 0 1em;
	}
}

p {
	font-weight: lighter;

	&.short {
		line-height: 1.1;
	}
}

a {
	color: $secondary-color;
	text-decoration: none;
	transition: color 0.2s;

	&:hover {
		color: darken($secondary-color, 25%);
	}
}

ul, ol {
	padding: 0;
	margin: 0;
	list-style-position: inside;

	li {
		@extend %smooth-animation;

		a {
			color: $primary-color;
		}
	}
}

.show-in-mobile { display: none; }

@include small-screen {
	.show-in-mobile { display: inline; }
	.hide-in-mobile { display: none; }
}

span.special {
	font-family: $header-font-family;
	font-weight: bold;
}

.hide {display: none;}

input[type="submit"] {
	appearance: none;
}

.page-title-content {
	@extend %big-row;

	@extend %flexbox-box;
	justify-content: space-between;
}

.main-content {
	@extend %big-row;
	@extend %flexbox-box;
	justify-content: space-between;
	position: relative;
	
	@include very-small-screen {
		img { width: 100%; height: 100%; }
	}
	
	.inner-container {
		h1 {
			margin: 32px 0;
		}
	
		ul, ol {
			list-style-position: outside;
			margin-left: 30px;
	
			li {
				margin-bottom: 32px;
			}
		}
	
		p {
			margin-bottom: 16px * 2;
		}

		line-height: 1.8;
		color: $dark-gray;
		max-width: 700px;
	}
}

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
	margin: 16px 0;
}

//WordPress Classes
.alignright {
	margin-left: 16px;
	float: right;
}

.alignleft {
	margin-right: 16px;
	float: left;
}

.wp-caption {
	padding: 7px 4px;
	background: $light-gray;
	border-bottom-left-radius:4px; border-bottom-right-radius: 4px; 
	box-shadow: 0 2px 4px lighten($dark-gray, 15%);

	p.wp-caption-text {
		@include font-size(0.9);
		text-align: center;
		margin: 4px 0;
	}
}

p.short {
	margin: 4px 0;
}

.animated {
  animation-duration: 0.75s;
  animation-fill-mode: both;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-7px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(7px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}

.page-template-contact_us-page .work-with-us {
	padding-bottom: 0;
}