.contact-info {

	@include very-small-screen {
		width: 100%;
		text-align: center;
	}

	p {
		color: $primary-color;
		margin: 0;
		@include font-size(0.9);
		background: {
			image: url('../images/panama-flag.png');
			repeat: no-repeat;
			position: left center;
			size: 26px 18px;
		}

		padding-left: 32px;
		
		a {
			text-transform: lowercase;
			color: $primary-color;
		}

	}

}

.login-button {
	@include font-size(0.9);
	color: $primary-color;
}

ul.top-bar-nav {
	margin: 1em 0;
	@extend %menu-list;
	@extend %flexbox-box;
	li {
		border-right: 1px solid $primary-color;
		padding: 0 24px;
	}

	li:last-child {
		border-right: none;
	}

	a {
		line-height: 1;
		color: $primary-color;

		&:active {
			background: darken($primary-color, 5%);
			color: white;
		}
	}
}

.top-bar {
	background: darken($light-gray, 5%);
}

.navigation-search {
	@extend .logo-navigation;
	padding: 0 $content-padding;
}

.logo-navigation {
	@extend %big-row;
	@extend %flexbox-box;
	justify-content: space-between;
	align-items: center;
	padding: 8px $content-padding 4px;
	font-variant: small-caps;
	position: relative;
}

.logo {
	width: columnWidth(2.4);
	margin: 12px 0;

	@include med-small-screen {
		width: 45%;
		margin: 16px auto;
	}

	@include very-small-screen {
		width: 80%;
		margin: 22px 0;
	}

	a {
		display: flex;
		align-items: center;
		width: 100%;
		height: 40px;

		img { width: 100%; }
	}
}

span.intermaritime-letters {
	font-variant: small-caps;
	@include font-size(1.2);
}

form.intermaritime-searchform {
	position: relative;

	@include very-small-screen {
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	input {
		margin: 0;
		border: none;
		padding: 4px 12px;
		@include font-size(0.9);
	}

	input[type="text"] {
		width: 250px;
		border-radius: 4px;

		@include very-small-screen {
			width: 100%;
		}
	}

	input[type="submit"] {
		letter-spacing: 1px;
		width: 45px;
		background: white;
		position: absolute;
		right: 0; top: 0;
		background: {
			color: transparent;
			image: url('../images/search-icon-intermaritime.png');
			repeat: no-repeat;
			position: center 10px;
			size: 14px 14px;
		};
	}
}