$content-width: 1200px;
$content-padding: 20px;
$column-gutter: 20px;

$column-width: ( ( $content-width - ( $content-padding * 2 )) / 12 ) - $column-gutter;

@function columnWidth($numColumns) {
  @return ( $column-width * $numColumns ) + ( $column-gutter * ( $numColumns - 1 ) );
}

//REM to Pixel Mixin
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 16) + px;
  font-size: $sizeValue + rem;
}

%big-row {
  width: $content-width;
  margin: 0 auto;
  padding: 32px $content-padding;

  @include med-screen {
    width: $content-width - 80px;

  }

  @include med-small-screen {
    width: 100%;
    padding: 16px 20px;
  }
}

%last-child {
  margin-right: 0;
  float: right;
}

%smooth-animation {
  transition: all 0.25s ease-in-out;
}

%menu-list {  
  list-style: none;
}

%left-column {
  width: 70%;
  float: left;
}

%right-column {
  width: 26%;
  float: right;
}

%cool-button {
    padding: 8px 21px;
    background: $light-gray;
    color: darken($light-gray, 55%);
    @include font-size(0.85);
    line-height: 1.3;
    border-radius: 4px;
    border: 1px solid darken($light-gray, 10%);
    @extend %smooth-animation;

    &:hover {
      background: darken($light-gray, 20%);
      color: $clear-gray;
    }

    &:active {
      background: darken($light-gray, 30%);
    }
}

%flexbox-box {
  display: flex;
  flex-flow: row wrap;
}

%form-inputs {
  display: block;
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 16px;
  color: lighten($dark-gray, 15%);
}

%submit-button {
  width: columnWidth(2.2);
  background: $primary-color;
  color: $clear-gray;
  border: 1px solid darken($clear-gray, 15%);
  @extend %smooth-animation;

  &:hover {
    background: darken($primary-color, 5%);
  }
}
