.home-icons {
	@extend %big-row;
	padding: 48px 0;

	@media only screen and (max-width: 800px) {
		margin-top: 0;
		padding: 48px 32px;
	}

	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;

	.int-services {
		flex-grow: 1;
		min-width: 90px;
		@extend %smooth-animation;

		&:hover {
			transform: translatey(-8px);
		}

		@include small-screen {
			margin-bottom: 32px;
		}

		a {
			color: $primary-color;
		}

		p {
			@include font-size(1.2);
			font-family: $header-font-family;
			text-align: center;
			margin: 32px 0 0;
		}

		img {
			width: 90px;
			display: block;
			margin: 0 auto;
		}
	}
}