.latest-news {

	background-color: darken($primary-color, 5%);
	background-size: cover;
	color: white;
	height: 80px;
	overflow: hidden;

	@include small-screen {
		overflow: visible;
		height: 100%;
		padding: 0 30px;
		background: darken($primary-color, 5%);
		text-align: center;
	}

	.news {
		@extend %big-row;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 0 $content-padding;
		
		line-height: 1;

		@include small-screen {
			padding: 0;
		}

	}

}

.news-title {
	@include font-size(1.5);
	font-variant: small-caps;
	letter-spacing: 4px;
	font-weight: 300;
	padding: 27px 0;
	margin: 0;
	margin: 0 auto;

	@include small-screen {
		margin: 32px auto;
	}

	p {
		margin: 0;
	}

	@include small-screen {
		text-align: center;
		padding: 0;
	}

}

ul.news-text {
	padding: 27px 0 27px 100px;
	background: $primary-color url('../images/latest-news-text-background.gif') left top no-repeat;
	font-variant: initial;
	font-size: 20px;
	letter-spacing: 2px;
	list-style: none;
	margin: 0;
	height: 80px;
	overflow: hidden;

	@include small-screen {
		padding: 0;
		margin: 12px 0;
		float: none;
		background: transparent;
		line-height: 1.5;
		height: 100%;
	}

	li {
		position: relative;
		padding: 3px 0 36px;

		@include small-screen {
			&:nth-child(n + 1) {
				display: none;
			}

			&:first-child {
				display: block;
			}
		}

		
		transition: transform 0.5s;

		&.slide-up {
			transform: translatey(-60px);
		}

		&.slide-up-up {
			transform: translatey(-120px);
		}

		span.news-text-title {
	    	display: inline-block;
	    	width: 600px;
	    	overflow: hidden;
	    	white-space: nowrap;
	    	margin-right: 200px;

	    	@include small-screen {
	    		width: 100%;
	    		white-space: normal;
	    		overflow: visible;
	    		display: inline;
	    	}
	    }
		
		a {
			color: white;
			font-style: italic;
			display: inline-block;
			position: absolute;
			left: 0;
			top: 3px;
			z-index: 10;

			&:hover {
				text-decoration: underline;
			}

			@include small-screen {
				position: relative;
			}
		}
	}

}