

h2.login-page-title {
	color: white;
	margin: 0;
}

ul.login-area-menu {
	@extend %menu-list;
	@extend %flexbox-box;
	align-items: center;

	a {
		display: block;
		line-height: 2;
		padding: 0 20px;
		color: $clear-gray;
		position: relative;
		@include font-size(0.9);
		letter-spacing: 1px;

		&::after {
			content: '';
			position: absolute;
			bottom: -16px;
			left: 0;
			width: 100%;
			height: 0;
			background-color: $clear-gray;
			@extend %smooth-animation;
		}

		&:hover {

			&::after {
				height: 6px;
			}
		}
	}

	li.current-menu-item a {
		&::after {
			height: 6px;
		}
	}

	li.menu-item-logout a {
		font-weight: normal;
		color: lighten($cuartiary-color, 5%);

		&::after {
			content: '';
			background-color: $cuartiary-color;
		}
	}
}