.hamburger-menu-button {
	display: none;
	width: 20px;
	height: 20px;
	background: transparent url("../images/hamburger-menu-button.svg") center center no-repeat;
	z-index: 30;

	@include very-small-screen {
		display: block;
	}
}

ul.main-nav {
	
	font-family: $header-font-family;
	line-height: 1;
	@extend %flexbox-box;
	justify-content: flex-end;
	@include font-size(0.95);

	@include med-small-screen {
		width: 100%;
		justify-content: space-between;
		margin: 16px 0 0;
	}

	@include very-small-screen {
		flex-flow: column wrap;
		text-align: center;
		background: white;
		position: absolute;
		top: 0; left: 0;
		display: none;
		z-index: 20;
	}

	li {
		list-style: none;
		position: relative;
		@extend %smooth-animation;

		ul {
			position: absolute;
			top: 120%; left: 0;
			z-index: 12;
			background: darken($clear-gray, 2%);
			white-space: nowrap;
			border-top: 2px solid $primary-color;
			border-bottom: 2px solid $primary-color;
			
			@include small-screen {
				display: none;
			}
			
			visibility: hidden;
			opacity: 0;
			@extend %smooth-animation;

			li {
				border: none;
				display: block;
				position: relative;
				line-height: 1.1;

				a {
					background: darken($clear-gray,3%);
					@extend %smooth-animation;
					
					&:hover {
						background: darken($clear-gray, 7%);
					}
				}

				ul {
					position: absolute;
					width: 100%;
					left: 100%;
					top: -2px;

					visibility: hidden;
					opacity: 0;
				}

				&.meni-item-has-children.activate > ul.sub-menu {
					opacity: 1;
					visibility: visible;
					@extend %smooth-animation;
				}
			}
		}
		
		& > ul li ul li a {
			padding: 18px 48px;
		}
		
		&.menu-item-has-children:hover {
			& > ul.sub-menu {
				opacity: 1;
				visibility: visible;
				@extend %smooth-animation;
			}
		}
	}
	
	a {
		color: $primary-color;
		display: block;
		padding: 22px 18px;
		position: relative;
	}

	& > li > a::after {
		content: '';
		position: absolute;
		bottom: -13px;
		left: 0;
		width: 100%;
		height: 0;
		background-color: $primary-color;
		@extend %smooth-animation;
		
		@include small-screen {
			background-color: white;
		}
	}

	& > li > a:hover {

		&::after {
			height: 8px;
		}
	}

	li.current_page_item, li.current_page_parent {

		a::after {
			height: 8px;
		}
	}
}