.page-title {
	background: {
		color: lighten($primary-color, 5%);
		size: cover;
		repeat: no-repeat;
	}
	
	height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		display: block;
		width: 100%;
		letter-spacing: 2px;
		text-align: center;
		font-size: 2rem;
		color: $clear-gray;
		text-shadow: 0 0 18px black;
		margin: 0;
	}
}