.wpfep-fields {
	width: 600px;

	label, input  {
		font-size: 1rem;
	}

	.description, .user_url {
		display: none;
	}
}

.wpfep-save.wpfep-save.wpfep-save {
	input[type="submit"] {
		font-size: 1rem;
	}
}