.services-navigation {
	background: lighten($primary-color, 5%);

	.main-content {
		@extend %flexbox-box;
		justify-content: space-between;
	}

	h1 {
		color: $clear-gray;
		margin: 6px 0;
		@include font-size(1.8);
	}
}

ul.service-navigation {
	@extend %flexbox-box;
	justify-content: flex-end;
	list-style: none;
	@include font-size(0.9);
	flex-grow: 1;

	li {
		margin: 0;

		a {
			display: block;
			padding: 12px 2em;
			color: $clear-gray;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: 100%;
				width: 70%;
				left: 15%;
				height: 0;
				background-color: $clear-gray;
				@extend %smooth-animation;
			}

			&:hover {

				&::after {
					height: 2px;
				}
			}
		}
	}
}