.sidebar.sidebar {
	h3 {
		margin: 0;
		padding: 30px 0;
	}
}

ul#menu-sidebar-menu {
    list-style: none;
    margin: 20px 0 50px;
    width: 300px;

    li a {
        display: block;
        padding: 8px 0;
        font-size: 0.9rem;
        color: $dark-gray;
        border-bottom: 1px solid lighten($primary-color, 15%);
        transition: all 0.25s ease-in-out;

        &:hover {
            padding-left: 12px;
            color: $primary-color;
        }
    }
}

.sticky.sticky {
	position: fixed;
	top: 0;
}

.stuck.stuck {
	position: absolute;
	bottom: 0;
}