form.vessel-calculator {
	&.vessel-calculator {
		width: 100%;
		max-width: 460px;
	
		label {
			margin: 12px 24px 12px 0;
			font-size: 0.95rem;
		}
		
		.radios.radios.radios label { 
			display: block;
			margin: 0;
			padding: 12px;
			border-bottom: 1px solid lighten($legal-color, 25%);
			cursor: pointer;
			transition: all 0.25s ease-in;
			line-height: 1;
			display: flex;
			justify-content: flex-start;
			flex-flow: row nowrap;
			
			p {
				margin: 0;
				display: block;
				width: 85%;
			}
	
			&:hover {
				background: $light-gray;
			}
	
			input[type="radio"] {
				margin-right: 12px;
				display: block;
				width: 15%;
				max-width: 40px;
			}
		}
	
		.yachts {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s ease-in-out;
		}
	
		.tonnage {
			@extend .yachts;
		}
	}
	
	input, textarea {
		display: block;
		width: 100%;
		border: 1px solid darken($primary-color, 10%);
		margin-bottom: 8px;
		padding: 8px 12px;
		color: $primary-color;
	}
	
	input[type=radio]{
		display: inline-block;
		width: auto;
		margin: auto;
	}
	
	.calculate > button {
		@extend %submit-button;
	}
	
	input[type=submit]{
		@extend %submit-button;
		background: $primary-color;
		color: white;
		width: auto;
		padding: 8px 40px;
		border-radius: 8px;
	}
	
	input[type=checkbox] { 
		width: 20px; 
		display: inline; 
	}
	
	.wpcf7-list-item label {
		display: block;
	}
	
	.name-email {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	
		.name, .email {
			width: 47%;
	
			@include small-screen {
				width: 100%;
			}
		}
	
		label {
			display: block;
			margin-bottom: 32px;			
		}
	}
	
	.service-select {
		margin-bottom: 32px;
	
		.wpcf7-list-item label {
			display: inline-block;
			margin-right: 20px;
		}
	}
}

.application.application.application {
	padding: 0;
	max-height: 0;
	overflow: hidden;
	width: 90%;
	max-width: 600px;
	background-color: $light-gray;

	transition: max-height 0.3s ease-in-out;
	margin-top: 30px;
	border-radius: 8px;
	
	.inner-application {
		margin: 40px 45px;

		h4 {
			text-align: center;
		}
	
	}
}

.note.note {
	font-size: 0.9rem;
	p { margin: 22px 0; }
}

form.vessel-fee-calculator {
	text-align: left;
	font-size: 0.9rem;
	font-style: italic;

	input[type="submit"]{
		margin-top: 32px;
	}

	textarea {
		height: 160px;
	}
}

.show-div.show-div.show-div.show-div {
	max-height: 9000px;
}

.yacht-registration-rate.yacht-registration-rate {
	display: none;
}

table.vessel-registration-government-fees {
	thead, tfoot {
		color: $light-gray;
		background: lighten($dark-gray, 13%);
		th, td {
			border: 1px solid $dark-gray;
			padding: 12px 8px;
			height: 45px;
		}
		td {
			text-align: right;
		}
	}
	thead {
		font-variant: small-caps;
		th { 
			font-weight: normal;
			text-align: center;
			font-size: 0.9rem;
			line-height: 1;
		}
	}
	td { 
		font-size: 0.85rem;
		height: 60px;

		&:nth-child(2){
			width: 80%;
		}
	}
	tbody {
		border-bottom: 2px solid $dark-gray;
		tr {
			&:nth-child(even){
				background: darken($light-gray, 5%);
			}
			&:hover {
				background: darken($light-gray, 7%);
			}
			& td:first-child {
				text-align: center;
			}
			& td:last-child {
				text-align: right;
			}
			td {
				padding: 4px 8px;
				border: 1px solid lighten($dark-gray, 15%);
			}
		}
	}
}

p.in-form.in-form.in-form {
	margin: 8px;
	font-weight: bold;
	font-style: italic;

	small {
		font-weight: normal;
	}
}

.submit-calculator.submit-calculator {
	position: relative;
	
	span.ajax-loader {
		position: absolute;
		top: 10px; left: 10px;
	}
}

.wpcf7 .ajax-loader {
	background: url(../images/intermaritime-loading.gif) center center no-repeat !important;
}