.corporate-video {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	background: transparentize($primary-color, 0.2);
	z-index: 100;
	display: none;
}

.the-video {
	width: 960px;

	@include med-small-screen {
		width: 90%;
	}

	margin: 0 auto;
	background: black;
	box-shadow: 0 0 28px black;
	margin-top: 32px;
	display: none;
}

video {
	width: 100%;
}

.video {
	width: 88px;

	@include med-small-screen {
		width: 100%;
	}

	margin: 0 auto;
	padding: ((680px / 2) - (88px / 2)) 0;

	a:hover img {
		filter: drop-shadow(0 0 8px white);
	}
}

.video-background {
	background: {
		size: cover;
		image: url('../images/intermaritime-video-background.jpg');
		position: center top;
		repeat: no-repeat;
	}
	padding: 150px 0;

	@media only screen and (max-width: 800px) {
		display: none;
	}

	.video {
		padding: 0;
	}
}

