.work-with-us {
	@extend %big-row;
	text-align: center;
	padding: 74px 20px;

	h2 {
		font-variant: small-caps;
		@include font-size(1.8);
		margin-bottom: 48px;
	}

	p {
		margin-bottom: 48px;
	}

	a.contact-us {
		display: inline-block;
		padding: 12px 60px;
		color: $cuartiary-color;
		font-family: $header-font-family;
		text-transform: uppercase;
		border: 2px solid $cuartiary-color;
		margin: 0 auto;
		@extend %smooth-animation;

		&:hover {
			background: $cuartiary-color;
			color: white;
		}
	}
}