body.page-template-login-page {
	background: {
		color: $primary-color;
		image: url('../images/login-page-background.jpg');
		size: cover;
		position: center top;
		repeat: no-repeat;
	}
	@extend %flexbox-box;
}

.intermaritime-login-logo {
	width: 260px;

	
	@include very-very-small-screen {
		width: 100%;
	}
	
	margin: 16px auto;
	img { width: 100%; }
	a { 
		display: block; 
		text-align: center;
		padding: 16px 0; 
		font-size: 0.8rem;
	}
}

.login-form-content {
	display: flex;
  	flex-flow: column nowrap;
  	justify-content: space-between;
	padding: 48px;
	background: rgba($clear-gray, 0.85);
	min-height: 100vh;
	width: 33%;
	
	@include med-screen {
		width: 50%;
	}

	@include small-screen {
		width: 100%;
	}

	font-size: 0.9rem;

	.login-content {

		a { 
			display: block;
		}

		h1 { 
			font-size: 1.4rem;
			text-align: center;
			margin: 32px 0;
			line-height: 1;
		}

		p { font-size: 0.8rem; }
	}

}

div.login_form {
	position: relative;	
}

.login-loading-animation {
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	background: {
		color: rgba($light-gray, 0.75);
		image: url('../images/background-spinner.gif');
		position: center center;
		repeat: no-repeat;
	}
	display: none;

}

form.login-form {
	label {
		margin: 12px 0;
	}
}

.submit-button-rememberme {
	@extend %flexbox-box;
	justify-content: space-between;
	margin: 16px 0;
}

.status-message {
	padding: 12px;
	margin-bottom: 12px;
}