@import 'colors';
@import 'fonts';

body.login {
	background: {
		color: white;
		image: url('../images/login-page-background.jpg');
		repeat: no-repeat;
		size: cover;
		position: center bottom;
	}
}

#login#login {
	font-family: $header-font-family;
	padding-top: 120px;

	h1 a {
		background: {
			image: url('../images/intermaritime-logo.svg');
			repeat: no-repeat;
			position: center top;
			size: 300px;
		}
		width: 100%;
		height: 45px;
	}

	form {
		margin: 0;
		position: relative;
		background: $light-gray;
		box-shadow: 0 2px 8px transparentize(black, 0.75);
		border-top: 30px solid $primary-color;
		border-bottom: 30px solid $primary-color;
		padding: 26px 24px 30px;
	}
}


input#wp-submit.button.button-primary.button-large {
	background: $primary-color;
}

p#nav#nav {
	a {
		padding: 4px 8px;
		background: white;
		border-radius: 4px;
		color: $primary-color;
	}
}

p#backtoblog#backtoblog {
	position: absolute;
	top: 20px;
	left: 10px;
	transition: all 0.25s ease-out;

	a {
		color: $primary-color;
		font-style: italic;

	}

	&:hover {
		transform: translateX(-2px);
		a {
			color: lighten($primary-color, 15%);
		}
	}
}
